@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');
/*=============================================
=            color            =
=============================================*/
:root {
  --color-1th: #0065fc; /* blue */
  --color-2th: #f2f2f2; /* gray */
  --color-3th: #D9D9D9; /* gray2 */
  --color-4th: #DEEBFF;


  --color-neutral: #fff; /* whrite */
  --color-neutral-heading:#000;
  --color-neutral-paragraph:#000 ;
}
.color-blue {
  color: #0065fc;
}
.color-gray {
  color: gray;
}
/*=====  End of color  ======*/


/*=============================================
=            general            =
=============================================*/
.border 
{
  border: 1px solid red; 
}
* 
{
  font-family: 'Raleway', "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a
{
  text-decoration: none;
  color: #000;
}
body
{
  padding: 0px 50px 0px 50px;
  max-width: 1400px;
  margin: auto;
}
p
{
  font-size: 12px;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.search_heading-style1, .popular_heading-style1, .activity_heading-style1
{
  font-weight: 700;
  font-size: 22px;
}
.search_paragraph-style1, .filter_paragraph-style1
{
  font-weight: 400;
  font-size: 1rem;
}
.filter_heading-style2
{
  font-weight: 700;
  font-size: 18px;
}
.hotelName
{
  font-weight: 700;
  font-size: 1rem;
  padding-left: 8px;
}
.hotelPrice
{
  font-weight: 400;
  font-size: 14px;
  padding-left: 8px;
}
.hotelStar
{
  font-size: 12px;
  padding-left: 8px;
  padding-bottom: 5px;
}
.hotelPrice span
{
  font-weight: bold;
}
  .search { grid-area: 1 / 1 / 2 / 4; }
  .filter { grid-area: 2 / 1 / 3 / 4; }
  #lodging { grid-area: 3 / 1 / 4 / 3; }
  .popular { grid-area: 3 / 3 / 4 / 4; }
  #activity { grid-area: 4 / 1 / 5 / 4; }

  @media screen and (max-width: 1200px)
{
  main
  {
    display: flex;
    flex-direction: column;
  }
}
@media all and (min-width: 0px) and (max-width: 768px){
  body
  {
    padding: 20px 5px 0px 5px;
  }
}
/*=====  End of general  ======*/


/*=============================================
=            Header            =
=============================================*/
header
{
  display: grid;
}
#logo
{
  grid-area: 1 / 1 / 2 / 2;
  padding:20px 0;
}
nav
{
  grid-area: 1 / 2 / 2 / 3; 
  display: flex;
  justify-content: center;
  justify-content: end;
}
.nav_component
{
  font-weight: 500;
  font-size: 15px;
  text-decoration:none;
  padding: 50px;
  color: var(--color-neutral-heading);
  border-top: 2px solid transparent;
  transition: all 0.3s;
}
.nav_component:hover
{ 
  border-top: 2px solid var(--color-1th);
  color: var(--color-1th);
}
@media screen and (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    }
    #logo 
    { 
      grid-area: 1 / 1 / 2 / 3; 
      display: flex;
      justify-content: center;
    }
  
    nav 
    { 
      grid-area: 2 / 1 / 3 / 3;
    } 
  .nav_component
  {
    border-bottom: 2px solid var(--color-2th);
    width: 100%;
    text-align: center;
  }
  .nav_component:hover
  { 
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color-1th);
    color: var(--color-1th);   
  }
}
/*=====  End of Header  ======*/


/*=============================================
=            Search            =
=============================================*/
.search
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search_bar
{
  display: flex;
}
.search_bar .location {
  padding: 16px 20px 16px 20px; 
  font-size: 18px;
  border-radius: 30% 0 0 30%;
  background-color:var(--color-2th);
}
.search_bar input[type=text] {
  
  font-size: 14px;
  border: 1px solid var(--color-2th);
  padding-left:16px;
  color: black;
  font-weight: 700;
}
.search_bar-button
{
  background-color: var(--color-1th);
  color:var(--color-neutral); ;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
  border: none;
  opacity: 0.8;
  padding: 15px 16px;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s;
}
.search_bar-button::after
{
  content: "Rechercher";
}
.search_bar input[type=text] {
  border: 1px solid var(--color-2th);
}
.search_bar ::placeholder
{
  font-size: 18px;
  color: black;
  font-weight: 700;
}
.search_bar-loup
{
  font-size: 0px;
}
.search_bar-button:hover{
  opacity: 1;
}
.search_bar-icon {
  font-size: 0px;
}
.search_border_i
{
  border: 2px solid var(--color-3th);
}
@media all and (min-width: 0px) and (max-width: 500px){
  .search_bar-button::after
  {
    display: none;    
  }
  .search_bar-loup
  {
    font-size: 20px;
  }
  .search_heading-style1
  {
    font-size: 20px;
    padding-top: 50px;
  }
}
@media all and (min-width: 501px) and (max-width: 768px){
  .search_bar-button::after
  {
    display: none;    
  }
  .search_bar-loup
  {
    font-size: 20px;
  }
  .search_heading-style1
  {
    font-size: 20px;
    padding-top: 50px;
  }
}
/*=====  End of Search  ======*/


/*=============================================
=            Filter            =
=============================================*/
.filter
{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.filter>div
{
  display: flex;
  gap:25px;
  align-items: center;
}
.filter_border
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--color-3th);
  padding: 12px 20px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.filter_border:hover
{
  background-color:var(--color-4th);
  animation: shake 1s;
}
.filter_border-icon
{
  color:var(--color-1th);
  font-size: 20px;
}
.filter_border-icon2
{
  filter: invert(25%) sepia(87%) saturate(3315%) hue-rotate(210deg) brightness(99%) contrast(107%);
}
.filter_border a
{
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
.search_border_i
{
  border: 1px solid var(--color-3th);
  border-radius: 50%;
  padding: 3px 10px;
  color: var(--color-1th);
}
@media all and (min-width: 475px) and (max-width: 950px){
  div.filter_sub
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .filter_heading-style2 { grid-area: 1 / 1 / 2 / 3; }
  .filter_border2 { grid-area: 2 / 1 / 3 / 2; }
  .filter_border3 { grid-area: 2 / 2 / 3 / 3; }
  .filter_border4 { grid-area: 3 / 1 / 4 / 2; }
  .filter_border5 { grid-area: 3 / 2 / 4 / 3; }
}
@media all and (min-width: 0px) and (max-width:475px){
  div.filter_sub
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/*=====  End of Filter  ======*/


/*=============================================
=            Lodging            =
=============================================*/
.lodging_card1 { grid-area: 1 / 1 / 2 / 2; }
.lodging_card2 { grid-area: 1 / 2 / 2 / 3; }
.lodging_card3 { grid-area: 1 / 3 / 2 / 4; }
.lodging_card4 { grid-area: 2 / 1 / 3 / 2; }
.lodging_card5 { grid-area: 2 / 2 / 3 / 3; }
.lodging_card6 { grid-area: 2 / 3 / 3 / 4; }

#lodging
{
  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: var(--color-2th);
  border-radius: 15px;
  padding: 40px;
}
.lodging_list
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;

  gap: 30px 30px;
  padding-bottom: 10px;
}
.lodging_card
{
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px lightgrey;
  padding: 5px;  
  cursor: pointer; 
}
.lodging_card:hover
{
  animation: shake 1s;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
.lodging_img{
  object-fit: cover;
  width: 100%;
  height: 114px;
  border-radius: 15px 15px 0 0;
}

.lodging_more
{
  font-weight: 700;
  color: black;
  text-decoration: none; 
  font-size: 18px;
}
@media all and (min-width:551px) and (max-width: 768px)
{
  .lodging_list
  {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .lodging_card1 { grid-area: 1 / 1 / 2 / 2; }
  .lodging_card2 { grid-area: 1 / 2 / 2 / 3; }
  .lodging_card3 { grid-area: 2 / 1 / 3 / 2; }
  .lodging_card4 { grid-area: 2 / 2 / 3 / 3; }
  .lodging_card5 { grid-area: 3 / 1 / 4 / 2; }
  .lodging_card6 { grid-area: 3 / 2 / 4 / 3; }
}
@media all and (min-width:0px) and (max-width: 550px)
{
  .lodging_list
  {
    display: flex;
    flex-direction: column;
  }
} 

/*=====  End of Lodging  ======*/

/*=============================================
=            Popular            =
=============================================*/
.popular_header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular
{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  background-color: var(--color-2th);
  border-radius: 15px;
}
.popular_list
{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.popular_card
{
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px lightgrey;
  padding: 5px;
  cursor: pointer;
}
.popular_description
{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.popular_info
{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.popular_card:hover
{

  animation: shake 1s;
}
.popular_img
{
  object-fit: cover;
  max-width: 35%;
  width: 130px;
  height: 130px;
  border-radius: 15px 0 0 15px; 
}
@media all and (min-width:993px) and (max-width: 1200px)
{
  .popular_list
  {
    display: flex;
    flex-direction: row;
  }
}
@media all and (min-width:451px) and (max-width: 992px)
{
  .popular_list
  {
    display: flex;
    flex-direction: column;
  }
}
@media all and (min-width:0px) and (max-width: 450px)
{
  .popular_card
  {
    display: flex;
    flex-direction: column;
  }
  .popular_img
  {
    max-width: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
}
/*=====  End of Popular  ======*/

/*=============================================
=            Activity            =
=============================================*/
#activity
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.activity_list
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 50px 50px;
}
.activity_card1 { grid-area: 1 / 1 / 2 / 2; }
.activity_card2 { grid-area: 1 / 2 / 2 / 3; }
.activity_card3 { grid-area: 1 / 3 / 2 / 4; }
.activity_card4 { grid-area: 1 / 4 / 2 / 5; }

.activity_card-form
{
  border-radius: 20px;
  border: 0.5px solid var(--color-2th);
  box-shadow: 3px 3px 3px 1px var(--color-2th);
  cursor: pointer;
}
.activity_card-form:hover
{
  animation: shake 1s;
}
.activity_img{
  object-fit:cover;
  width: 100%;
  height:350px;
  border-radius: 15px 15px 0 0;
}
.activity_imgTittle
{
  font-weight: 700;
  font-size: 1rem;
  padding: 15px 20px ;
}
@media all and (min-width:992px) and (max-width: 1200px)
{
  .activity_img
  {
    height: 250px;
  }
}
@media all and (min-width:651px) and (max-width: 992px)
{
  .activity_list
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px 50px;
  }
  .activity_card1 { grid-area: 1 / 1 / 2 / 2; }
  .activity_card2 { grid-area: 1 / 2 / 2 / 3; }
  .activity_card3 { grid-area: 2 / 1 / 3 / 2; }
  .activity_card4 { grid-area: 2 / 2 / 3 / 3; }  
  .activity_img
  {
    height: 150px;
  }
}
@media all and (min-width:0px) and (max-width:650px)
{
  .activity_list
  {
    display: flex;
    flex-direction: column;
  }
  .activity_img
  {
    height: 150px;
  }
}
/*=====  End of Activity  ======*/

/*=============================================
=            Footer            =
=============================================*/

footer
{
  display: flex;
  gap: 50px;
  background-color: #f2f2f2; 
  margin-top: 50px;
  padding: 40px 40px 40px 40px;
}
.container1,.container2,.container3
{
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  gap: 12px;
}
.footer_heading
{
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}
.container1
{
  flex-shrink:0;
}
.container1 a,.container2 a,.container3 a
{
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
}    
@media all and (min-width: 0px) and (max-width: 768px)
{
  footer
  {
      flex-direction: column;
      align-items: center;
  }
  .container1,.container2,.container3
{
 align-items: center;
}
}
/*=====  End of Footer  ======*/
